<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ musical.title }} Details</title>
</head>
<body>
    <h1>{{ musical.title }}</h1>
    <h5>{{musical.ticket_attribute}}</h5>
    <h5>{{musical.prf_attribute}}</h5>
    <h5>{{musical.created_at}}</h5>
    <h5>{{musical.open_from}}</h5>
    <h5>{{musical.open_to}}</h5>
    <h5>{{musical.theater}}</h5>
    <h5>{{musical.poster}}</h5>
    <h5>{{musical.source}}</h5>
    <h5>{{musical.cast}}</h5>
    <h5>{{musical.price}}</h5>

    <h2>Series and Reservations</h2>
    {% for item in series_with_reservations %}
        <h3>Series: {{ item.series.series_name }}</h3>
        <p>DateTime: {{ item.series.ticket_time }}</p>
        <p>source: {{ item.series.reservation_source }}</p>
        <h4>Reservations</h4>
        <ul>
            {% for reservation in item.reservations %}
                <li>
                    Reservation Link: <a href="{{ reservation.link }}">{{ reservation.source_name }}</a>
                </li>
            {% endfor %}
        </ul>
    {% endfor %}

    {% if notification_exists %}
        <p>You already have a notification for this musical.</p>
    {% else %}
        <form method="post">
            {% csrf_token %}
            <button type="submit">Add Notification</button>
        </form>
    {% endif %}
</body>
</html>
